*{
  margin: 0;
  padding: 0;
}
.box{
  position: relative;
  padding: 0 15px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fefefe;
}
.MineBackground{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 140px;
  left: 0;
  top: 0;
  background: url('https://static.meiye.art/FnPq9Hn-pXL3ALIC_e5Mf20HzKxt?imageView2/2/w/500');
}
.user{
  z-index: 100;
  position: relative;
  top: 40px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4b1l6MIGM_OrepK9EEfFvmutnBm74lHIydA&usqp=CAU') round;
  }
  p{
    margin: 4px 0;
    font-weight: 700;
    font-size: 20px;
    color: black;
  }
}
.MineList{
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  .ListBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    img{
      width: 50px;
      height: 50px;
    }
  }
}