* {
	margin: 0;
	padding: 0;
}
.box {
	position: relative;
	padding: 0 15px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #f6f6f6;
}
.MineBackground {
	z-index: 0;
	position: absolute;
	width: 100%;
  height: 194px;
	left: 0;
	top: 0;
  img{
    width: 100%;
    height: 100%;
  }
}
.user {
	z-index: 100;
	position: absolute;
	top: 60px;
	display: flex;
	align-items: center;
  justify-content: flex-start;
  width: 100%;
	div {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4b1l6MIGM_OrepK9EEfFvmutnBm74lHIydA&usqp=CAU")
			round;
	}
	p {
		margin: 4px 10px;
		font-weight: 600;
		font-size: 20px;
		color: #f6f6f6;
	}
}
.MineList {
  margin-top: 210px;
  border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	justify-content: space-between;
	background-color: white;
	:last-child {
		border-bottom: none !important;
	}
	.ListBox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 55px;
		width: 100%;
		padding: 0 10px;
		border-radius: 5px;
		border-bottom: 1px solid #ccc;
		.icon {
			img {
				margin-right: 20px;
				width: 28px;
				height: 28px;
			}
		}
		.join {
			width: 20px;
			height: 20px;
		}
	}
}
