*{
  margin: 0;
  padding: 0;
}
.box{
  padding: 0 15px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.user{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  div{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url('../img/user.jpg') round;
  }
  p{
    margin: 4px 0;
    font-weight: 700;
    font-size: 20px;
    color: black;
  }
}
.MineList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: yellowgreen;
  .ListBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    width: 80px;
    img{
      width: 50px;
      height: 50px;
    }
  }
}