.MoveModel {
	width: 100%;
	height: auto;
	padding-bottom: 60px;
	padding-top: 15px;
}

.MoveContent {
	width: 95%;
	margin: 0 auto;
	.MoveHead {
		margin-top: 50px;
		margin-bottom: 15px ;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 140px;
		.Headposter {
			width: 100px;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.MoveText {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
			word-break: break-all;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 230px;
			height: 100%;
			transform: translateX(10px);
			.MoveName {
				margin-bottom: 5px;
				font-size: 18px;
				color: white;
			}
			.MoveInfo {
				font-size: 15px;
				opacity: 0.6;
				color: rgb(255, 255, 255);
				button {
					width: 50%;
				}
			}
		}
	}
	video {
		width: 100%;
		height: 200px;
		margin-top: 5px;
		border-radius: 10px;
	}
	.MoveBrief {
		display: flex;
		justify-content: space-between;
		align-items: center;
		:first-child {
			color: white;
			font-size: 15px;
		}
	}
	.MoveContText {
		margin: 3px 0;
		word-break: break-all;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		font-size: 15px;
		color: white;
	}
	.DefaultBox {
		margin: 15px 0;
		.DefaultTitle {
			margin-top: 10px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			:first-child {
				font-size: 15px;
				color: white;
			}
		}
		.DefaultImg {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 90px;
			// background-color: yellowgreen;
			overflow: scroll;
			img {
				margin-right: 5px;
				width: 143px;
				height: 100%;
			}
		}
	}
	.BuyTicket {
		z-index: 20;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: white;
		.BuyBox {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 95%;
			height: 100%;
			margin: 0 auto;
		}
		img {
			margin-left: 15px;
			width: 19px;
			height: 19px;
			object-fit: cover;
		}
		.BuyButton {
			width: 280px;
			height: 44px;
			text-align: center;
			line-height: 44px;
			border-radius: 44px;
			color: white;
			font-size: 16px;
			background-image: linear-gradient(
				-90deg,
				rgb(251, 51, 51),
				rgb(255, 82, 105)
			);
		}
	}
}
.MovComment {
	padding: 15px;
	width: 100%;
	height: auto;
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	.CommentBox {
		margin-top: 15px;
		display: flex;
		width: 100%;
		height: auto;
		.CommentLeft {
			img {
				width: 34px;
				height: 34px;
				border-radius: 50%;
			}
		}
		.CommentRight {
			margin-left: 7px;
			color: #333;
			font-size: 14px;
			.star {
				margin-left: 4px;
				color: #faaf00;
				font-size: 12px;
			}
			.CommentTime{
				margin-top: 4px;
				color: #666;
			}
		}
	}
}
.More{
	text-align: center;
}
canvas{
	position: absolute;
	-webkit-touch-callout:default;
	top: 40%;
	left: 50%;
	transform: translate(-50% ,-50%);
}